<div class="login-box">
  <div class="login-logo">
    <!-- <a href=""><img src="dist/img/ericsson.png"></a> -->
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <div ng-if="message" class="alert alert-warning alert-dismissable">
      <h4><i class="icon fa fa-warning"></i> Alert!</h4>
      <span ng-bind="message"></span>
    </div>
    <form method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" ng-model="username" placeholder="Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" ng-click="dologin()" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div><!-- /.login-box -->
